@media(min-width:0px) and (max-width:767px) {
    .navbar-nav{
        text-align: center;
    }
    .collapse ul li a{
    display: inline-block;  
    }
    .collapse ul li{
        margin-bottom: 5px;
    }
    .featue-content {
        margin-bottom: 30px;
    }
}
@media(min-width:0px) and (max-width:575px) {
    
    .header_2{
        text-align: center;
    }
    
    .btn-r {
        justify-content: center;
        margin-top: 30px;
    }
    .header_2 h1{
        text-align: center;
    }
    .pricing{
        margin-bottom: 30px;
    }
    
    .map iframe{
        height: 500px;
    }
    .contact-d {
        margin-bottom: 30px;
    }
    
    .btn-d {
        margin-bottom: 10px;
    }
    .btn-f {
        padding: 12px 21px;
    margin: 0px;
    margin-top: 10px;
    }
    .header-sec h5{
    
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 24px;
        margin-top: 22px;
    }
    .header-sec h1{
    
        font-size: 55px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    .header-sec p {
        color: #878787;
        font-size: 20px;
        padding-right: 0px;
        margin-bottom: 59px;
    }
    .contact_form {
        width: 80%;
        
    }
}
@media(min-width:0px) and (max-width:575px){
    .contact_form form input[type='submit']{
        font-size: 14px;
    }
   .testimonial p{
       font-size: 14px;
   }
   .header-content h1{
    font-size: 20px;
    text-align: center;
}
.phone img {
    position: absolute;
    bottom: 0;
    right: 52%;
}
.btn-feature {
    margin-left: 0px;
}
.contact_form{
    width:85%;
}
.header-sec h5{
    
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 24px;
    margin-top: 22px;
}
.header-sec h1{

    font-size: 55px;
    font-weight: 600;
    margin-bottom: 24px;
}
.header-sec p {
    color: #878787;
    font-size: 20px;
    padding-right: 0px;
    margin-bottom: 59px;
}
}
@media(min-width:0px) and (max-width:320px){
.header-content h1 .btn-feature{
    margin-top: 10px;
}
.contact_form{
    width:80%;
}
.btn-d {
    left:50%;

}
.btn-f {
    right:50%;
}
.header-sec h5{
    
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 24px;
    margin-top: 22px;
}
.header-sec h1{

    font-size: 55px;
    font-weight: 600;
    margin-bottom: 24px;
}
.header-sec p {
    color: #878787;
    font-size: 20px;
    padding-right: 0px;
    margin-bottom: 59px;
}
.client-img {
    width: 100px;
    height: 74px;
  }
  .client {
    width: 80%;
  }
  .client-img {
    height: 57px;
    width:57px;
    margin-right: 29px;
  }
.testmonial-section {
    text-align: justify;
  }
  .testmonial-section {
  
    padding: 25px;
  }
  .testimonial p{
    margin: 0px;
    margin-left: 0px;
  }
}